// header styles

.header {
  background-image: url('images/nP_Pocket_HG.png');
  background-size: cover;
  text-align: right;
  padding: 2.5rem 2rem;
  letter-spacing: 1px;

  &__logo {
    width: 12rem;
    height: auto;
  }
}
