$c-font: rgb(103, 109, 113);
$c-border: rgb(199, 199, 199);
$c-link: rgb(24, 82, 121);
$c-primary: #1877b8;
$c-white: #fff;

// media query breakpoints
$breakpoint-tablet: 481px;
$breakpoint-laptop: 769px;
$breakpoint-desktop: 1025px;