body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}
.container{
    background-color: green;
    display: flex;
    flex-direction: column;
}

.box{
    background-color: blue;
    margin-top: 1rem;
}

.box:nth-of-type(2n){
    background-color: aqua;
    color: black;
}

@media only screen and (min-width: 768px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box{
        flex: 1 0 30%;
        margin-right: 1rem;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box{
        flex: 1 0 19%;
        margin-right: 1rem;
        margin-top: 0;
    }
}


