body{
    margin: 0;
}
.container 
{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    /*flex-wrap: wrap;*/
}

.box
{
    flex:1 0 25%;
    
    background-color: olive;
    margin-top: 1rem;
    
}
/*.box:first-of-type
{
    flex-grow: 1;
    background-color: brown;
}
.box:nth-of-type(2)
{
    background-color: blueviolet;
}*/
@media (min-width: 768px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
.box{
    margin-right: 1rem;
    margin-top: 0;
}
}