body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: bisque;
    text-align: right;
    padding: 1rem 1rem 2rem;
}

.products {
    background-color: aquamarine;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.product {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 50px;
    margin: auto;
}

.footer {
    background-color: aqua;
    text-align: center;
    padding: 1rem
}
/* tablet view */
@media (min-width: 768px){

    .products {
    flex-direction: row;
    flex-wrap: wrap;
    
}
.product {
    flex: 1 0 30%;
}
}
/* desktop view */
@media (min-width: 1024px){
    .product {
        flex: 1 0 20%;
    }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}