@import './scss/forms';
@import './scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url('images/nP_Pocket_HG.png');
  background-size: cover;
  text-align: right;
  padding: 2rem 2rem 3rem 0;
  letter-spacing: 1px;

  &__logo {
    letter-spacing: .15rem;
    color:white;
    font-size: 1.8rem;    
  }
}

.content {
  margin-bottom: 3rem;

  @media only screen and (min-width: $breakpoint-large) {
    display: flex;
  }

  &__intro {
    padding: 2rem;

    @media only screen and (min-width: $breakpoint-large) {
      flex: 1 0 50%;
    }
  }
  
  &__subscription {
    @media only screen and (min-width: $breakpoint-large) {
      flex: 1 0 50%;
    }
  }
}

.content-intro {
  color: $font-color;
  line-height: 1.5;

  &__title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
  }

  &__text {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__headlist {
    padding-top: 2rem;
  }

  &__copy {
    font-weight: 500;
    padding-top: 2rem;
  }

  &__list {
    padding-left: 1.5rem;
  }
}

.content-subscription {
  @media only screen and (min-width: $breakpoint-small) {
    display: flex;
  }
}

.content-subscription-image {
  padding: 1rem 3rem;

  &__element {
    width: 10rem;
    height: 13rem;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .41);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .41);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .41);
  }
}

.subscription-form {
  padding: 1rem;
  color: $font-color;

  &__form-group {
    margin-bottom: 1rem;
  }
}

.footer {
  background-color: salmon;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
