$_font-color: rgb(103, 109, 113);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url(images/nP_Pocket_HG.png);
  background-size: cover;
  text-align: right;
  padding: 2rem 2rem 3rem 0rem;
  letter-spacing: 1px;

  &__logo {
    letter-spacing: 0.15rem;
    color:white;
    font-size: 1.8rem;    
  }
}

.content {
  &__intro {
    padding: 2rem;
  }
  
  &-subscription {
    &__image {
      background-color: aquamarine;
      padding: 1rem;
    }

    &__form {
      background-color: royalblue;
      padding: 1rem;
    }

    @media only screen and (min-width: 481px) {
      display: flex;

      &__image {
        flex: 1 0 auto;
      }

      &__form {
        flex: 1 0 auto;
      }
    }
  }

  @media only screen and (min-width: 1025px){
    display: flex;
  
    &__intro {
      flex: 1 0 50%;
      padding-top: 4rem;
      padding-left: 4rem;
    }
  
    &__subscription {
      flex: 1 0 50%;
    }
  }
}

.content-intro {
  color: $_font-color;
  line-height: 1.5;

  &__title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
  }

  &__subhead {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__headlist {
    padding-top: 2rem;
  }

  &__copy {
    font-weight: 500;
    padding-top: 2rem;
  }
}  

.footer {
  background-color: salmon;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

