.form-group__label {
  font-weight: 600;
}

.form-group__label--hidden {
  display: none;
}

.radio-button {
  padding-top: .5rem;
}

.radio-button__input {
  margin-right: .4rem;
}

.input {
  padding: .6rem;
  border: 1px solid #c7c7c7;
  width: 100%;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.input:focus {
  outline: none;
  border-bottom-color: #1877b8;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.35;
}

.checkbox__input {
  margin-right: .6rem;
  margin-top: 0.2rem;
}

.button {
  background-color: #1877b8;
  height: 3rem;
  padding: .5rem 2rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 481px) {
  .button {
    height: 2.5rem;
  }
}

.button:hover {
  background-color: transparent;
  color: #1877b8;
  border-color: #1877b8;
}

.button:focus {
  outline: none;
}

.np-link {
  color: #185279;
  text-decoration: none;
  cursor: pointer;
}

.np-link:visited {
  color: #185279;
}

.np-link:hover, .np-link:active {
  color: #298cce;
  border-bottom: 1px solid #298cce;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-image: url("images/nP_Pocket_HG.png");
  background-size: cover;
  text-align: right;
  padding: 2rem 2rem 3rem 0;
  letter-spacing: 1px;
}

.header__logo {
  letter-spacing: .15rem;
  color: #fff;
  font-size: 1.8rem;
}

.footer {
  color: #676d71;
  background-color: #E8E9EA;
  text-align: center;
  padding: 1rem;
}

.footer__logo {
  display: block;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 481px) {
  .footer__logo {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.footer__logo img {
  width: 5rem;
  height: auto;
}

.footer__legal {
  font-size: .7rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 481px) {
  .footer__legal {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 481px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social {
  font-family: font;
}

.footer-legal__copyright {
  display: block;
  margin-bottom: .3rem;
}

.legal-links {
  list-style: none;
}

.legal-links__item {
  display: inline-block;
}

.legal-links__item:not(:last-of-type)::after {
  content: '|';
}

.legal-links a {
  color: #676d71;
  text-decoration: none;
}

.footer-social__link {
  display: inline-block;
  color: #676d71;
  text-decoration: none;
}

.footer-social__link:not(:last-of-type) {
  margin-right: .5rem;
}

.confirmation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem 1rem;
  color: #676d71;
  line-height: 1.5;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

@media only screen and (min-width: 481px) {
  .confirmation {
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .confirmation {
    padding: 5rem;
  }
}

.confirmation__title {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
}

@media only screen and (min-width: 481px) {
  .confirmation__title {
    font-size: 1.6rem;
  }
}

.confirmation__thankyou {
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.confirmation__copy {
  font-weight: 4;
  margin-top: .3rem;
  color: #80878b;
}

.confirmation__error {
  color: #c00c0c;
  margin: 1rem 0;
  line-height: 1.3;
}
/*# sourceMappingURL=confirmation.css.map */