// Regeln für die Strukturierung von SCSS mit BEM
//
// - wir stylen immer über Klassennamen, nie direkt über Elemente Selektoren (Ausnahme für html und body element)
// - die Blöcke stehen immer auf der höchsten Hierarchieebene und werden nicht ineinander geschachtelt
// - die Reihenfolge innerhalb eines Blocks ist immer wie folgt:
//      1. CSS Styling for den Block
//      2. Media Queries für den Block
//      3. Pseudo Element und Pseudo-Selektoren
//      4. Element des Blocks (inklusive Media Queries für das Element)
//      5. Modifier des Blocks

.block {
  color: red;

  @media screen {
    color: green;
  }

  ::before {
    content: '';
  }

  :hover {
    color: yellow;
  }

  &__element {
    display: block;

    @media only screen and (min-width: 480px) {
      display: flex;
    }
  }

  &--modifier {
    color: black;
  }
}
